In [1]:
# importando a biblioteca padr√£o do python pandas
import pandas as pd

In [2]:
# abrindo arquivo com o excel
df = pd.read_excel("Dados Excel.xlsx")

In [3]:
# ler o arquivo
df.head()

,AddressID,AddressLine1,AddressLine2,City,StateProvinceID,PostalCode,SpatialLocation,rowguid,ModifiedDate
0,1,1970 Napa Ct.,NaN,Bothell,79,98011,0xE6100000010CAE8BFC28BCE4474067A89189898A5EC0,9AADCB0D-36CF-483F-84D8-585C2D4EC6E9,2007-12-04 00:00:00.000
1,2,9833 Mt. Dias Blv.,NaN,Bothell,79,98011,0xE6100000010CD6FA851AE6D74740BC262A0A03905EC0,32A54B9E-E034-4BFB-B573-A71CDE60D8C0,2008-11-30 00:00:00.000
2,3,7484 Roundtree Drive,NaN,Bothell,79,98011,0xE6100000010C18E304C4ADE14740DA930C7893915EC0,4C506923-6D1B-452C-A07C-BAA6F5B142A4,2013-03-07 00:00:00.000
3,4,9539 Glenside Dr,NaN,Bothell,79,98011,0xE6100000010C813A0D5F9FDE474011A5C28A7C955EC0,E5946C78-4BCC-477F-9FA1-CC09DE16A880,2009-02-03 00:00:00.000
4,5,1226 Shoe St.,NaN,Bothell,79,98011,0xE6100000010C61C64D8ABBD94740C460EA3FD8855EC0,FBAFF937-4A97-4AF0-81FD-B849900E9BB0,2008-12-19 00:00:00.000

In [4]:
df.shape

(1000, 9)

In [5]:
# veja que ele abriu somenta a primeira aba
df = pd.read_excel("Dados Excel.xlsx", sheet_name = 0)

In [6]:
# comando para abrir a primeira aba

In [7]:
df.head()

,AddressID,AddressLine1,AddressLine2,City,StateProvinceID,PostalCode,SpatialLocation,rowguid,ModifiedDate
0,1,1970 Napa Ct.,NaN,Bothell,79,98011,0xE6100000010CAE8BFC28BCE4474067A89189898A5EC0,9AADCB0D-36CF-483F-84D8-585C2D4EC6E9,2007-12-04 00:00:00.000
1,2,9833 Mt. Dias Blv.,NaN,Bothell,79,98011,0xE6100000010CD6FA851AE6D74740BC262A0A03905EC0,32A54B9E-E034-4BFB-B573-A71CDE60D8C0,2008-11-30 00:00:00.000
2,3,7484 Roundtree Drive,NaN,Bothell,79,98011,0xE6100000010C18E304C4ADE14740DA930C7893915EC0,4C506923-6D1B-452C-A07C-BAA6F5B142A4,2013-03-07 00:00:00.000
3,4,9539 Glenside Dr,NaN,Bothell,79,98011,0xE6100000010C813A0D5F9FDE474011A5C28A7C955EC0,E5946C78-4BCC-477F-9FA1-CC09DE16A880,2009-02-03 00:00:00.000
4,5,1226 Shoe St.,NaN,Bothell,79,98011,0xE6100000010C61C64D8ABBD94740C460EA3FD8855EC0,FBAFF937-4A97-4AF0-81FD-B849900E9BB0,2008-12-19 00:00:00.000

In [8]:
df.shape

(1000, 9)

In [9]:
# abrindo a segunda aba
df = pd.read_excel("Dados Excel.xlsx", sheet_name = 1)

In [10]:
df.head()

,AddressID,AddressLine1,AddressLine2,City,StateProvinceID,PostalCode,SpatialLocation,rowguid,ModifiedDate
0,1,1970 Napa Ct.,NaN,Bothell,79,98011,0xE6100000010CAE8BFC28BCE4474067A89189898A5EC0,9AADCB0D-36CF-483F-84D8-585C2D4EC6E9,2007-12-04 00:00:00.000
1,2,9833 Mt. Dias Blv.,NaN,Bothell,79,98011,0xE6100000010CD6FA851AE6D74740BC262A0A03905EC0,32A54B9E-E034-4BFB-B573-A71CDE60D8C0,2008-11-30 00:00:00.000

In [11]:
df.shape

(2, 9)

In [13]:
# √© poss√≠vel selecionar pelo nome da aba
df = pd.read_excel("Dados Excel.xlsx", sheet_name = "Plan1")

In [14]:
df = pd.read_excel("Dados Excel.xlsx", sheet_name = "Aba2")

In [15]:
# Verificando os nomes das abas de um arquivo excel
arquivos_excel = pd.ExcelFile("Dados Excel.xlsx")

In [16]:
arquivos_excel

In [17]:
# lendo as abas que o arquivo possui
arquivos_excel.sheet_names

['Plan1', 'Aba2']

In [19]:
# usando o comando parse para selecionar as abas
aba1 = arquivos_excel.parse("Plan1")
aba2 = arquivos_excel.parse("Aba2")

In [20]:
# lendo os dados das abas
aba1.head()

,AddressID,AddressLine1,AddressLine2,City,StateProvinceID,PostalCode,SpatialLocation,rowguid,ModifiedDate
0,1,1970 Napa Ct.,NaN,Bothell,79,98011,0xE6100000010CAE8BFC28BCE4474067A89189898A5EC0,9AADCB0D-36CF-483F-84D8-585C2D4EC6E9,2007-12-04 00:00:00.000
1,2,9833 Mt. Dias Blv.,NaN,Bothell,79,98011,0xE6100000010CD6FA851AE6D74740BC262A0A03905EC0,32A54B9E-E034-4BFB-B573-A71CDE60D8C0,2008-11-30 00:00:00.000
2,3,7484 Roundtree Drive,NaN,Bothell,79,98011,0xE6100000010C18E304C4ADE14740DA930C7893915EC0,4C506923-6D1B-452C-A07C-BAA6F5B142A4,2013-03-07 00:00:00.000
3,4,9539 Glenside Dr,NaN,Bothell,79,98011,0xE6100000010C813A0D5F9FDE474011A5C28A7C955EC0,E5946C78-4BCC-477F-9FA1-CC09DE16A880,2009-02-03 00:00:00.000
4,5,1226 Shoe St.,NaN,Bothell,79,98011,0xE6100000010C61C64D8ABBD94740C460EA3FD8855EC0,FBAFF937-4A97-4AF0-81FD-B849900E9BB0,2008-12-19 00:00:00.000

In [21]:
# lendo os dados das abas
aba2.head()

,AddressID,AddressLine1,AddressLine2,City,StateProvinceID,PostalCode,SpatialLocation,rowguid,ModifiedDate
0,1,1970 Napa Ct.,NaN,Bothell,79,98011,0xE6100000010CAE8BFC28BCE4474067A89189898A5EC0,9AADCB0D-36CF-483F-84D8-585C2D4EC6E9,2007-12-04 00:00:00.000
1,2,9833 Mt. Dias Blv.,NaN,Bothell,79,98011,0xE6100000010CD6FA851AE6D74740BC262A0A03905EC0,32A54B9E-E034-4BFB-B573-A71CDE60D8C0,2008-11-30 00:00:00.000

In [22]:
aba1.head(20)
# quantidades de linhas para visualiza√ß√£o

,AddressID,AddressLine1,AddressLine2,City,StateProvinceID,PostalCode,SpatialLocation,rowguid,ModifiedDate
0,1,1970 Napa Ct.,NaN,Bothell,79,98011,0xE6100000010CAE8BFC28BCE4474067A89189898A5EC0,9AADCB0D-36CF-483F-84D8-585C2D4EC6E9,2007-12-04 00:00:00.000
1,2,9833 Mt. Dias Blv.,NaN,Bothell,79,98011,0xE6100000010CD6FA851AE6D74740BC262A0A03905EC0,32A54B9E-E034-4BFB-B573-A71CDE60D8C0,2008-11-30 00:00:00.000
2,3,7484 Roundtree Drive,NaN,Bothell,79,98011,0xE6100000010C18E304C4ADE14740DA930C7893915EC0,4C506923-6D1B-452C-A07C-BAA6F5B142A4,2013-03-07 00:00:00.000
3,4,9539 Glenside Dr,NaN,Bothell,79,98011,0xE6100000010C813A0D5F9FDE474011A5C28A7C955EC0,E5946C78-4BCC-477F-9FA1-CC09DE16A880,2009-02-03 00:00:00.000
4,5,1226 Shoe St.,NaN,Bothell,79,98011,0xE6100000010C61C64D8ABBD94740C460EA3FD8855EC0,FBAFF937-4A97-4AF0-81FD-B849900E9BB0,2008-12-19 00:00:00.000
5,6,1399 Firestone Drive,NaN,Bothell,79,98011,0xE6100000010CE0B4E50458DA47402F12A5F80C975EC0,FEBF8191-9804-44C8-877A-33FDE94F0075,2009-02-13 00:00:00.000
6,7,5672 Hale Dr.,NaN,Bothell,79,98011,0xE6100000010C18E304C4ADE1474011A5C28A7C955EC0,0175A174-6C34-4D41-B3C1-4419CD6A0446,2009-12-11 00:00:00.000
7,8,6387 Scenic Avenue,NaN,Bothell,79,98011,0xE6100000010C0029A5D93BDF4740E248962FD5975EC0,3715E813-4DCA-49E0-8F1C-31857D21F269,2008-12-17 00:00:00.000
8,9,8713 Yosemite Ct.,NaN,Bothell,79,98011,0xE6100000010C6A80AD742DDC4740851574F7198C5EC0,268AF621-76D7-4C78-9441-144FD139821A,2012-05-30 00:00:00.000
9,10,250 Race Court,NaN,Bothell,79,98011,0xE6100000010C219D64AE1FE4474040862564B7825EC0,0B6B739D-8EB6-4378-8D55-FE196AF34C04,2008-12-02 00:00:00.000
10,11,1318 Lasalle Street,NaN,Bothell,79,98011,0xE6100000010CCEFFBBFD9FE9474057B9479C728E5EC0,981B3303-ACA2-49C7-9A96-FB670785B269,2013-02-28 00:00:00.000
11,12,5415 San Gabriel Dr.,NaN,Bothell,79,98011,0xE6100000010C6A80AD742DDC474011A5C28A7C955EC0,1C2C9CFE-AB9F-4F96-8E1F-D9666B6F7F22,2013-01-05 00:00:00.000
12,13,9265 La Paz,NaN,Bothell,79,98011,0xE6100000010CC3228C0867E84740F3BC169B7F835EC0,E0BA2F52-C907-4553-A0DB-67FC67D28AE4,2013-12-14 00:00:00.000
13,14,8157 W. Book,NaN,Bothell,79,98011,0xE6100000010C219D64AE1FE4474067A89189898A5EC0,A1C658AE-C553-4A9D-A081-A550D39B64DF,2009-12-04 00:00:00.000
14,15,4912 La Vuelta,NaN,Bothell,79,98011,0xE6100000010C219D64AE1FE447405E6ED153B4945EC0,F397E64A-A9D8-4E57-9E7C-B10928ACADD6,2013-11-18 00:00:00.000
15,16,40 Ellis St.,NaN,Bothell,79,98011,0xE6100000010CF76E45EFC9DC474067A89189898A5EC0,0312B65F-CB60-4396-9EC7-A78B2EAC1A1B,2012-11-09 00:00:00.000
16,17,6696 Anchor Drive,NaN,Bothell,79,98011,0xE6100000010C034C75E402DE4740BC262A0A03905EC0,CE9B3B47-9267-4727-BCD2-687C47482C06,2013-11-08 00:00:00.000
17,18,1873 Lion Circle,NaN,Bothell,79,98011,0xE6100000010C219D64AE1FE447405FF307D247845EC0,963854F7-E3CB-46A1-A3DB-1B05F71D6473,2013-11-30 00:00:00.000
18,19,3148 Rose Street,NaN,Bothell,79,98011,0xE6100000010C813A0D5F9FDE47407DDBB3C144965EC0,6B7ACB0F-CDBF-44FD-BA14-EB08A56C1582,2014-04-03 00:00:00.000
19,20,6872 Thornwood Dr.,NaN,Bothell,79,98011,0xE6100000010C034C75E402DE4740483BAF1BF9885EC0,4B1F1ED4-97A4-43FD-BB1E-9E05817718E8,2009-02-05 00:00:00.000