# Lidando com Arquivos CSV

Vamos começar a pré-processar banco de dados usando uma biblioteca do Python chamada **Pandas**. Com essa ferramenta, vamos poder organizar todos os dados que serão posteriormente usados para fazer treinamento em nossos algoritmos de aprendizagem de máquina.

Nesse arquivo, será possível aprender a lidar com dados armazenados em documentos com extensão **.csv**.

> "*Os arquivos Comma-separated values, também conhecido como CSV, são arquivos de texto de formato regulamentado pelo RFC 4180, que faz uma ordenação de bytes ou um formato de terminador de linha, separando valores com vírgulas. Ele comumente é usado em softwares offices, tais como o Microsoft Excel e o LibreOffice Calc.*"

### Começando com o Pandas

Vamos importar a biblioteca **Pandas** para trazer todos os recursos disponíveis nela ao nosso ambiente de trabalho.

In [2]:
# Importanto a biblioteca Pandas da linguagem de Programação Python 
import pandas as pd
# as pd é uma forma de abreviar o nome da biblioteca, de modo que não teremos que ficar digitando o nome 
# dela por extenso todas as vezes que as funções pertencentes a ela forem chamadas no código.

Passando para variável dataframe os dados do arquivo "**Endereco DataFrame.csv**".

In [3]:
# Abrindo um arquivo com extensão CSV
dataframe = pd.read_csv("Enderecos DataFrame.csv", encoding = "UTF-8", sep = ";")
# atribuimos a variável dataframe toda a base de dados endereçada no arquivo "Endereco DataFrame.csv"
# através da função "read_csv" da biblioteca "Pandas", cujo método "encoding" recebe o parâmetro "UTF-8"
# que é a codificação binária do arquivo, e o método "sep" recebe o parâmetro ";", que é como os dados
# foram separados em cada linha.

Mostrando **x** quantidade de dados de usuários armazenados em um dataframe.

In [4]:
dataframe.head(30)
# usamos o atributo "head" da biblioteca "Pandas" no objeto "dataframe" para ler os dados que
# ele armazena. O parâmetro indica a quantidade de linhas a ser visualizada, incluindo a linha "header",
# comumente chamada de cabeçalho.

,EnderecoID,EnderecoPrimario,EnderecoSecundario,Cidade,ProvinciaID,CodigoPostal,LocalidadeEspacial,GuiaDeLinha,DataModificada
0,1,1970 Napa Ct.,NaN,Bothell,79,98011,0xE6100000010CAE8BFC28BCE4474067A89189898A5EC0,9AADCB0D-36CF-483F-84D8-585C2D4EC6E9,2007-12-04 00:00:00.000
1,2,9833 Mt. Dias Blv.,NaN,Bothell,79,98011,0xE6100000010CD6FA851AE6D74740BC262A0A03905EC0,32A54B9E-E034-4BFB-B573-A71CDE60D8C0,2008-11-30 00:00:00.000
2,3,7484 Roundtree Drive,NaN,Bothell,79,98011,0xE6100000010C18E304C4ADE14740DA930C7893915EC0,4C506923-6D1B-452C-A07C-BAA6F5B142A4,2013-03-07 00:00:00.000
3,4,9539 Glenside Dr,NaN,Bothell,79,98011,0xE6100000010C813A0D5F9FDE474011A5C28A7C955EC0,E5946C78-4BCC-477F-9FA1-CC09DE16A880,2009-02-03 00:00:00.000
4,5,1226 Shoe St.,NaN,Bothell,79,98011,0xE6100000010C61C64D8ABBD94740C460EA3FD8855EC0,FBAFF937-4A97-4AF0-81FD-B849900E9BB0,2008-12-19 00:00:00.000
5,6,1399 Firestone Drive,NaN,Bothell,79,98011,0xE6100000010CE0B4E50458DA47402F12A5F80C975EC0,FEBF8191-9804-44C8-877A-33FDE94F0075,2009-02-13 00:00:00.000
6,7,5672 Hale Dr.,NaN,Bothell,79,98011,0xE6100000010C18E304C4ADE1474011A5C28A7C955EC0,0175A174-6C34-4D41-B3C1-4419CD6A0446,2009-12-11 00:00:00.000
7,8,6387 Scenic Avenue,NaN,Bothell,79,98011,0xE6100000010C0029A5D93BDF4740E248962FD5975EC0,3715E813-4DCA-49E0-8F1C-31857D21F269,2008-12-17 00:00:00.000
8,9,8713 Yosemite Ct.,NaN,Bothell,79,98011,0xE6100000010C6A80AD742DDC4740851574F7198C5EC0,268AF621-76D7-4C78-9441-144FD139821A,2012-05-30 00:00:00.000
9,10,250 Race Court,NaN,Bothell,79,98011,0xE6100000010C219D64AE1FE4474040862564B7825EC0,0B6B739D-8EB6-4378-8D55-FE196AF34C04,2008-12-02 00:00:00.000
10,11,1318 Lasalle Street,NaN,Bothell,79,98011,0xE6100000010CCEFFBBFD9FE9474057B9479C728E5EC0,981B3303-ACA2-49C7-9A96-FB670785B269,2013-02-28 00:00:00.000
11,12,5415 San Gabriel Dr.,NaN,Bothell,79,98011,0xE6100000010C6A80AD742DDC474011A5C28A7C955EC0,1C2C9CFE-AB9F-4F96-8E1F-D9666B6F7F22,2013-01-05 00:00:00.000
12,13,9265 La Paz,NaN,Bothell,79,98011,0xE6100000010CC3228C0867E84740F3BC169B7F835EC0,E0BA2F52-C907-4553-A0DB-67FC67D28AE4,2013-12-14 00:00:00.000
13,14,8157 W. Book,NaN,Bothell,79,98011,0xE6100000010C219D64AE1FE4474067A89189898A5EC0,A1C658AE-C553-4A9D-A081-A550D39B64DF,2009-12-04 00:00:00.000
14,15,4912 La Vuelta,NaN,Bothell,79,98011,0xE6100000010C219D64AE1FE447405E6ED153B4945EC0,F397E64A-A9D8-4E57-9E7C-B10928ACADD6,2013-11-18 00:00:00.000
15,16,40 Ellis St.,NaN,Bothell,79,98011,0xE6100000010CF76E45EFC9DC474067A89189898A5EC0,0312B65F-CB60-4396-9EC7-A78B2EAC1A1B,2012-11-09 00:00:00.000
16,17,6696 Anchor Drive,NaN,Bothell,79,98011,0xE6100000010C034C75E402DE4740BC262A0A03905EC0,CE9B3B47-9267-4727-BCD2-687C47482C06,2013-11-08 00:00:00.000
17,18,1873 Lion Circle,NaN,Bothell,79,98011,0xE6100000010C219D64AE1FE447405FF307D247845EC0,963854F7-E3CB-46A1-A3DB-1B05F71D6473,2013-11-30 00:00:00.000
18,19,3148 Rose Street,NaN,Bothell,79,98011,0xE6100000010C813A0D5F9FDE47407DDBB3C144965EC0,6B7ACB0F-CDBF-44FD-BA14-EB08A56C1582,2014-04-03 00:00:00.000
19,20,6872 Thornwood Dr.,NaN,Bothell,79,98011,0xE6100000010C034C75E402DE4740483BAF1BF9885EC0,4B1F1ED4-97A4-43FD-BB1E-9E05817718E8,2009-02-05 00:00:00.000
20,21,5747 Shirley Drive,NaN,Bothell,79,98011,0xE6100000010CEB9115FA90DB47408E4F342DEF815EC0,D83299D7-A0F4-4055-9BD5-5908E245D757,2009-02-11 00:00:00.000
21,22,636 Vine Hill Way,NaN,Portland,58,97205,0xE6100000010CB55B852318C34640DD7A52C8D3A75EC0,7F641525-2704-4F73-9D8A-EB062CFBFA3C,2011-05-24 00:00:00.000
22,23,6657 Sand Pointe Lane,NaN,Seattle,79,98104,0xE6100000010C9F07FD5862DD47409F583A2EE9975EC0,B991568F-5096-4A92-B25C-1A3E4D2ACC66,2009-01-15 00:00:00.000
23,24,80 Sunview Terrace,NaN,Duluth,36,55802,0xE6100000010C04554A7DD566474059F1E1D0B30457C0,BE07D3C8-6E58-4670-9DA9-151AB6D3D620,2011-05-24 00:00:00.000
24,25,9178 Jumping St.,NaN,Dallas,73,75201,0xE6100000010C10A810D1886240403A0F0653663158C0,C8DF3BD9-48F0-4654-A8DD-14A67A84D3C6,2012-07-31 00:00:00.000
25,26,5725 Glaze Drive,NaN,San Francisco,9,94109,0xE6100000010CFE3883FD5AE14240E38A86B1249A5EC0,77415959-A4EE-4DA6-86F9-70C097560005,2011-05-24 00:00:00.000
26,27,2487 Riverside Drive,NaN,Nevada,74,84407,0xE6100000010C50ECC7344CA044400C0B98AB57FA5BC0,C1D0F3B0-6B2A-4388-8861-48F44D8270A1,2011-05-24 00:00:00.000
27,28,9228 Via Del Sol,NaN,Phoenix,6,85004,0xE6100000010CCEEAD68894D440404D9D2EDC020E5CC0,12AE5EE1-FC3E-468B-9B92-3B970B169774,2011-08-01 00:00:00.000
28,29,8291 Crossbow Way,NaN,Memphis,72,38103,0xE6100000010C7AED632C1D9641401C8388AE3C8A56C0,7CC794AD-1822-412B-AB94-337A89A1D0C9,2011-05-24 00:00:00.000
29,30,9707 Coldwater Drive,NaN,Orlando,15,32804,0xE6100000010C90C10F63019F3C4089A0F6721C5254C0,7431591F-36C1-4A65-B722-0E006DB73557,2011-07-01 00:00:00.000

Verificando as linhas e as colunas contidas no dataframe.

In [5]:
dataframe.shape
# usamos o atributo "shape" do Python para verificar a quantidade de linhas e colunas do objeto.
# Em outras palavras, estamos vendo as dimensões de um vetor multidimensional

(1000, 9)

Repare que temos 9 campos de dados diferentes para um total de 1000 usuários cadastrados nesse banco de dados.

Para especificar onde começará o cabeçalho, repare o código abaixo. Quando o cabeçalho ou "**header**" começa em uma linha > 0, todos os dados posteriores são ignorados.

In [6]:
dataframe = pd.read_csv("Enderecos DataFrame.csv", encoding = "UTF-8", sep = ";", header = 0)
# na função "read_csv" da biblioteca "Pandas", o método "header" terá um atributo do tipo inteiro que 
# indicará onde será o começo da "header". No caso acima, estamos informado a "header" padrão, também 
# chamada de "default".

Observe que os dados continuam no mesmo formato:

In [7]:
dataframe.head(10)
# imprimindo na saída de dados os 10 primeiros usuários cadastrados no banco de dados, considerando a 
# header começando na linha 0.

,EnderecoID,EnderecoPrimario,EnderecoSecundario,Cidade,ProvinciaID,CodigoPostal,LocalidadeEspacial,GuiaDeLinha,DataModificada
0,1,1970 Napa Ct.,NaN,Bothell,79,98011,0xE6100000010CAE8BFC28BCE4474067A89189898A5EC0,9AADCB0D-36CF-483F-84D8-585C2D4EC6E9,2007-12-04 00:00:00.000
1,2,9833 Mt. Dias Blv.,NaN,Bothell,79,98011,0xE6100000010CD6FA851AE6D74740BC262A0A03905EC0,32A54B9E-E034-4BFB-B573-A71CDE60D8C0,2008-11-30 00:00:00.000
2,3,7484 Roundtree Drive,NaN,Bothell,79,98011,0xE6100000010C18E304C4ADE14740DA930C7893915EC0,4C506923-6D1B-452C-A07C-BAA6F5B142A4,2013-03-07 00:00:00.000
3,4,9539 Glenside Dr,NaN,Bothell,79,98011,0xE6100000010C813A0D5F9FDE474011A5C28A7C955EC0,E5946C78-4BCC-477F-9FA1-CC09DE16A880,2009-02-03 00:00:00.000
4,5,1226 Shoe St.,NaN,Bothell,79,98011,0xE6100000010C61C64D8ABBD94740C460EA3FD8855EC0,FBAFF937-4A97-4AF0-81FD-B849900E9BB0,2008-12-19 00:00:00.000
5,6,1399 Firestone Drive,NaN,Bothell,79,98011,0xE6100000010CE0B4E50458DA47402F12A5F80C975EC0,FEBF8191-9804-44C8-877A-33FDE94F0075,2009-02-13 00:00:00.000
6,7,5672 Hale Dr.,NaN,Bothell,79,98011,0xE6100000010C18E304C4ADE1474011A5C28A7C955EC0,0175A174-6C34-4D41-B3C1-4419CD6A0446,2009-12-11 00:00:00.000
7,8,6387 Scenic Avenue,NaN,Bothell,79,98011,0xE6100000010C0029A5D93BDF4740E248962FD5975EC0,3715E813-4DCA-49E0-8F1C-31857D21F269,2008-12-17 00:00:00.000
8,9,8713 Yosemite Ct.,NaN,Bothell,79,98011,0xE6100000010C6A80AD742DDC4740851574F7198C5EC0,268AF621-76D7-4C78-9441-144FD139821A,2012-05-30 00:00:00.000
9,10,250 Race Court,NaN,Bothell,79,98011,0xE6100000010C219D64AE1FE4474040862564B7825EC0,0B6B739D-8EB6-4378-8D55-FE196AF34C04,2008-12-02 00:00:00.000

Veja que é possível informar que o dataframe possui um header que não está na linha 0.

In [8]:
dataframe = pd.read_csv("Enderecos DataFrame.csv", encoding = "UTF-8", sep = ";", header = 1)
# na função "read_csv" da biblioteca "Pandas", o método "header" recebe um atributo do tipo inteiro == 1,
# desse modo, o nosso cabeçalho estará na linha 1 e o conteúdo das linhas acima é descartado.

Observe a mudança no dataframe.

In [9]:
dataframe.head(10)
# imprimindo na saída de dados os 10 primeiros usuários cadastrados no banco de dados, considerando a 
# header começando na linha 1.

,1,1970 Napa Ct.,NULL,Bothell,79,98011,0xE6100000010CAE8BFC28BCE4474067A89189898A5EC0,9AADCB0D-36CF-483F-84D8-585C2D4EC6E9,2007-12-04 00:00:00.000
0,2,9833 Mt. Dias Blv.,NaN,Bothell,79,98011,0xE6100000010CD6FA851AE6D74740BC262A0A03905EC0,32A54B9E-E034-4BFB-B573-A71CDE60D8C0,2008-11-30 00:00:00.000
1,3,7484 Roundtree Drive,NaN,Bothell,79,98011,0xE6100000010C18E304C4ADE14740DA930C7893915EC0,4C506923-6D1B-452C-A07C-BAA6F5B142A4,2013-03-07 00:00:00.000
2,4,9539 Glenside Dr,NaN,Bothell,79,98011,0xE6100000010C813A0D5F9FDE474011A5C28A7C955EC0,E5946C78-4BCC-477F-9FA1-CC09DE16A880,2009-02-03 00:00:00.000
3,5,1226 Shoe St.,NaN,Bothell,79,98011,0xE6100000010C61C64D8ABBD94740C460EA3FD8855EC0,FBAFF937-4A97-4AF0-81FD-B849900E9BB0,2008-12-19 00:00:00.000
4,6,1399 Firestone Drive,NaN,Bothell,79,98011,0xE6100000010CE0B4E50458DA47402F12A5F80C975EC0,FEBF8191-9804-44C8-877A-33FDE94F0075,2009-02-13 00:00:00.000
5,7,5672 Hale Dr.,NaN,Bothell,79,98011,0xE6100000010C18E304C4ADE1474011A5C28A7C955EC0,0175A174-6C34-4D41-B3C1-4419CD6A0446,2009-12-11 00:00:00.000
6,8,6387 Scenic Avenue,NaN,Bothell,79,98011,0xE6100000010C0029A5D93BDF4740E248962FD5975EC0,3715E813-4DCA-49E0-8F1C-31857D21F269,2008-12-17 00:00:00.000
7,9,8713 Yosemite Ct.,NaN,Bothell,79,98011,0xE6100000010C6A80AD742DDC4740851574F7198C5EC0,268AF621-76D7-4C78-9441-144FD139821A,2012-05-30 00:00:00.000
8,10,250 Race Court,NaN,Bothell,79,98011,0xE6100000010C219D64AE1FE4474040862564B7825EC0,0B6B739D-8EB6-4378-8D55-FE196AF34C04,2008-12-02 00:00:00.000
9,11,1318 Lasalle Street,NaN,Bothell,79,98011,0xE6100000010CCEFFBBFD9FE9474057B9479C728E5EC0,981B3303-ACA2-49C7-9A96-FB670785B269,2013-02-28 00:00:00.000

Vamos retornar aos dados originais.

In [10]:
dataframe = pd.read_csv("Enderecos DataFrame.csv", encoding = "UTF-8", sep = ";", header = 0)
# usando a função "read_csv" da biblioteca "Pandas" para atribuir a variável ou objeto "dataframe" os dados
# padrões endereçados no arquivo "Enderecos DataFrame.csv"

Vamos agora delimitar a quantidade de colunas a serem usadas em um dataframe:

In [11]:
dataframe = pd.read_csv("Enderecos DataFrame.csv", encoding = "UTF-8", sep = ";", 
                        usecols = ["EnderecoID", "EnderecoPrimario"])
# Usando a função "read_csv" da biblioteca "Pandas" com todos os métodos explicados anteriormente, mas 
# agora foi feita a chamada do método "usecols", esse que recebe em seu parâmetro uma lista de string com
# os nomes equivalentes as colunas que queremos selecionar, essas que são os tipos de dados presentes no 
# arquivo "Enderecos DataFrame.csv".

Observe que agora só será mostrada na saída de dados as colunas selecionadas:

In [12]:
dataframe.head(10)
# Usando o atributo "head" da biblioteca "Pandas" para ler os dados da variável ou objeto "dataframe" 
# dos 10 primeiros usuários

   EnderecoID      EnderecoPrimario
0           1         1970 Napa Ct.
1           2    9833 Mt. Dias Blv.
2           3  7484 Roundtree Drive
3           4      9539 Glenside Dr
4           5         1226 Shoe St.
5           6  1399 Firestone Drive
6           7         5672 Hale Dr.
7           8    6387 Scenic Avenue
8           9     8713 Yosemite Ct.
9          10        250 Race Court

Veja que de fato as outras informaçãoes não estão mais contidas no dataframe após esse pré-processamento dos dados.

In [13]:
dataframe.shape
# Usando oatributo "shape" da biblioteca "Pandas" para visualizar as linhas e as colunas da variável ou
# objeto "dataframe".

(1000, 2)

De mesmo modo, podemos selecionar apenas uma determinada quantidade de linhas.

In [14]:
dataframe = pd.read_csv("Enderecos DataFrame.csv", encoding = "UTF-8", sep = ";", 
                       usecols = ["EnderecoID", "EnderecoPrimario"], nrows = 500)
# Usando a função "read_csv" da biblioteca "Pandas", com todos os métodos explicados anteriormentes, mas
# agora foi feita a chamada do método "nrows" com um atributo do tipo inteiro == 500. Com esse método, é 
# possível selecionar apenas uma determinada quantidade de linhas do dataframe a ser atribuido a variável
# ou objeto "dataframe". No exemplo acima, foi passado as 500 primeiras linhas do dataframe.

Veja agora as dimensões desse vetor multidimensional armazenado no objeto "dataframe".

In [15]:
dataframe.shape
# Usando o atributo "shape" do Python para verificar as dimensões do vetor multidimensional "dataframe".

(500, 2)

E dessa forma que podemos dar os passos iniciais com o pré-processamento de banco de dados armazenados em arquivos .csv.

### Alguma dúvida? Entre em contato comigo:

- [Me Envie um E-mail](mailto:alyssonmachado388@gmail.com);